streamlit
python-dotenv
langchain
langchain-core
google-generativeai
pydantic
PyPDF2
pdfplumber
PyMuPDF
sentence-transformers
faiss-cpu
numpy
huggingface_hub
SpeechRecognition
pocketsphinx
pyaudio
pywhatkit
phonenumbers
yagmail
psycopg2-binary 